# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Dominoes.GameEventConsumer.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\workspace\dominoes-system\dominoes-game-event-consumer\.idea\.idea.Dominoes.GameEventConsumer\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
